body {
    user-select: none;
}
button {
    font-size: 1em !important;
}
h1 {
    /* Headlines */
    font-size: 2em !important;
    margin: 0 !important;
}
h4 {
    font-size: 1.25em !important;
}
input {
    font-size: 0.75em !important;
}
.wrapperMealToday {

}
    .mealTodayPlaceholder {
        padding: 0.5rem;
    }
    .dropdown-menu a {
        font-size: 1.5em;
    }
.wrapperMealSuggested {

}
.wrapperMealList {

}
#alerts {
    position: absolute;
    width: 80%;
    z-index: 1;
    left: 10%;
}
.alert p {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.alert-info {
    display: flex;
    justify-content: space-between;
}
    .alert-info input {
        width: 142px;
        display: inline;
    }
    .alert-info > div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;    
    }
.close {
    /* close button modal */
    font-size: 1.5em !important;
}

header {
    margin-bottom: 8px;
    width: 100%;
    /* height: 50px; */
    display: flex !important;
    align-items: center;
}
header * {
    margin: 0 !important;
}
    header i {
        font-size: 1.5em;
    }
    header i:hover {
        cursor: pointer;
    }
    header div p {
        height: 1em;
        font-size: 1em;
    }
header #logged-in {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #logged-in > div {
        display: flex;
    }
header #logged-out {
    display: flex;
    width: 100%;
}
.mealContainer {
    margin-bottom: 8px;
    width: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "mealHeader mealMain mealMain"
        "mealHeader mealFooter mealFooter";
}
.mealHeader:hover {
    cursor: pointer;
}
.mealContainer p {
    text-align: center;
    margin: 0;
    font-size: 1em;
}
.mealContainer h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0 !important;
}
    .mealContainer .mealHeader {
        min-width: 300px;
        margin-right: 0;
        padding-right: 5px;
        grid-area: mealHeader;
        display: flex;
        align-items: center;
    }
        .mealHeader img {
            height: 64px;
        }
        .mealHeader h2 {
            overflow: hidden;
        }
    .mealContainer .mealMain {
        grid-area: mealMain;
        justify-content: space-around;
    }
        .mealMain .btn {
            color: white;
        }
    .mealContainer .mealMain .btn:hover {
        cursor: pointer;
    }
    .mealFooter {
        grid-area: mealFooter;
        margin-top: 0.5rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    .mealFooter hr {
        color: white;
        width: 2px;
    }
    .mealFooter div {
        display: inline-block;
    }
        .mealFooter div li {
            font-size: 0.5em;
        }

/* 'TABLET' */
@media only screen and (max-width: 1200px) {
    body {
        font-size: 24px !important;
    }
    .mealContainer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "mealHeader"
            "mealMain "
            "mealFooter";
    }
        .mealMain {
            margin-top: 0.5rem;
        }
    #logged-out {
        justify-content: space-between;
    }
        #logged-out button, #logged-in button {
            padding: 14px 24px;
        }
}

/* 'MOBILE' */
@media only screen and (max-width: 720px) {
    body {
        font-size: 20px !important;
    }
    .alert-info .btn {
        font-size: 14px;
        padding: 4px 8px;
    }
    .modal-footer button {
        height: 40px;
        min-width: 80px;
    }
}

/* 'MOBILE SMALL' */
@media only screen and (max-width: 450px) {
    body {
        font-size: 14px !important;
    }
    .mealContainer .btn {
        padding:.25rem.5rem;
        font-size: .875rem;
        line-height:1.5;
        border-radius:.2rem;
    }
}

/* 'MOBILE GAY' */
@media only screen and (max-width: 400px) {

}